.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.category-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Hacer las imágenes circulares */
  object-fit: cover; /* Asegurar que la imagen se ajuste dentro del círculo */
}

.top-cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Para organizar en filas si no hay suficiente espacio */
}