/* Catg.css */

.container {
    display: flex;
    height: 100vh; /* Altura completa de la ventana */
  }
  
  .sidebar {
    width: 20%;
    background-color: #f9f9f9;
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
  }
  
  .chead {
    margin-bottom: 20px;
  }
  
  .chead h1 {
    font-size: 24px;
    color: #333;
  }
  
  .category-list {
    margin-bottom: 20px;
  }
  
  .category-list button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .category-list button:hover,
  .category-list button.active {
    background-color: #0056b3;
  }
  
  .price-filter {
    margin-bottom: 20px;
  }
  
  .price-filter label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .price-filter input {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .price-filter button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .price-filter button:hover {
    background-color: #218838;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item-list .box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: calc(33.333% - 20px); /* 3 items per row */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .item-list .box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .item-list .box span {
    display: block;
    margin: 5px 0;
  }
  
  .item-list .box span:last-child {
    font-weight: bold;
    color: #333;
  }  