/* Estilo para el contenedor del login */
.login-container {
    margin: 70px auto;
    width: 100%;
    max-width: 400px; /* Ajustado para que el formulario se vea mejor en pantallas pequeñas */
    border: 1px solid #0f3460;
    border-radius: 10px;
    background: #ffffff; /* Fondo blanco para el formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    padding: 20px; /* Espaciado interno */
  }
  
  /* Estilo para el título del login */
  .login-container h2 {
    font-size: 24px;
    color: #0f3460;
    display: block;
    margin-bottom: 20px; /* Espaciado debajo del título */
    text-align: center;
  }
  
  /* Estilo para los campos de entrada */
  .login-container input {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
  }
  
  /* Estilo para el botón de login */
  .login-container button {
    border: none;
    margin-top: 30px;
    background: #0f3460;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    padding: 15px;
    display: block; /* Cambiado de flex a block para que el margen funcione correctamente */
    width: auto; /* Ajustado el ancho automático para centrar el botón */
    margin-left: auto; /* Margen izquierdo automático para centrar */
    margin-right: auto; /* Margen derecho automático para centrar */
    margin-bottom: 30px;
  }
  
  .login-container button:hover {
    background-color: #0056b3; /* Color al pasar el ratón */
  }
  
  /* Estilo para mensajes de error */
  .login-container .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 10px;
  }  