/* General card styling */
.card {
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 400px;
}

.card-body {
    margin: 70px auto;
    width: 100%;
    max-width: 400px; /* Ajustado para que el formulario se vea mejor en pantallas pequeñas */
    border: 1px solid #0f3460;
    border-radius: 10px;
    background: #ffffff; /* Fondo blanco para el formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    padding: 20px; /* Espaciado interno */
}

.register-box {
    display: flex;
    padding: 20px;
    justify-content: center; /* Centramos el contenido horizontalmente */
    align-items: center; /* Centramos el contenido verticalmente */
    height: 100vh; /* Ocupar todo el alto de la pantalla */
    margin: 0 auto; /* Centrar el componente en el medio */
}

.register-card-body {
    margin-top: 40px;
    font-size: 16px;
    color: #0f3460;
    text-align: center;
    display: block;
}

.register-box .card-body {
    width: 100%;
    max-width: 500px; /* Aumenta el tamaño máximo del contenedor */
    border: 1px solid #0f3460;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px; /* Aumenta el padding para mayor separación interna */
}

.register-box .input-group {
    margin-bottom: 15px;
    display: grid;
    justify-content: center;
}

.register-box .input-group .form-control,
.register-box .input-group .input-group-text {
    border-radius: 5px;
    width: 100%;
    max-width: 300px; /* Limitar ancho de los inputs */
}

.register-box .btn {
    width: 60%;
    background-color: #0f3460;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.input-group {
    margin-bottom: 15px;
    display: grid;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

.input-group .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    padding: 10px;
    width: 300px;
}
.input-group .input-group-text {
    background: #0f3460;
    color: #fff;
    border: 1px solid #0f3460;
    border-radius: 5px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-box a {
    color: #0f3460;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Subrayar al pasar el cursor */
}

.mb-1, .mb-0 {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}