.Admin{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.AdminHeader{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AdminFooter{
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.card p {
  font-size: 1.2em;
  color: #666;
}